html {
  width: 100%;
  height: 100%; 
  background: #fdfafc;}

body {
  background: #fdfafc;
  font-family: 'Lato', serif;
  color: #001f3f;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-style: bold;
  font-weight: 300;
  color: #4B2436;
  text-shadow: 1px 1px rgba(0, 0, 0, .16);
  letter-spacing: 1px;
  font-size: 4em;
  padding-top: 10px;}
h2 {
  font-family: 'Lato', serif;
  font-weight: 300;
  color: #001f3f; 
  font-size: 2em;}
h3 {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 300;
  color: #4B2436; 
  font-size: 3.7em;
  transform: rotate(-3deg);
  padding-bottom: 15px;}
h4 {
  font-family: 'Lato', serif;
  color: #4B2436;
  font-size: 2.4em; }
h5 {
  font-family: 'Lato', serif;
  color: #001f3f;
  font-size: 1.5em;}
h6 {
  font-family: 'Playfair Display', sans-serif;
  color: #4B2436;
  font-weight: bold;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #4B2436; 
  text-decoration: underline;}
  a:focus, a:hover {
    text-decoration: underline;
    color: #4B2436; }  

.btn {
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 5; 
  color: #001f3f;
  border: 1px solid #001f3f;
  background-color: transparent;
  text-decoration: none; }
  .btn:focus, .btn:hover {
    color: white;
    border: 1px solid #4B2436;
    outline: none;
    background-color: #4B2436; }

.content-section {
  padding: 70px 20px 20px 20px;}

.divider {
  background-color: #4B2436;
  margin-top:1px; 
  padding-top:1px;}

.gold-text {
  color:#D4AF37;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
              url("../img/goldFoil.jpg") repeat;
  -webkit-background-clip: text;
  text-shadow: 1px 1px rgba(0, 0, 0, .40);}

.landing{
  padding: 0px 0px 0px 0px;
  margin-top: 2%; 
  margin-bottom: 2%;
  background:#4B2436; } 

.landing-img {
  margin-top:-3%;
  margin-bottom:-3%;
  padding: -10px; }

.map{
  padding: 0px;
  border:none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}

.picture{
  border: 0px solid #D4AF37;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 51, 102, 0.16), 0 2px 10px 0 rgba(0, 51, 102, 0.12);
  padding-top: 0px; 
  max-width: 100%;
  height: auto;}

.purple {
  color: white;
  background-color: #4B2436;
  padding: 20px;} 

.white-box {
  background-color: #ffffff;
  color: #003366;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-color: #4B2436;
  border: 1px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }  

#mainNav {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 0px solid rgba(0, 0, 0, 0.3);
  background-color: #fdfafc; }
  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: #003366;
    border: 0px solid #003366; }
  #mainNav .navbar-brand {
    font-weight: 700; }
  #mainNav a {
    color: #003366;
    text-decoration: none; }
  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    #mainNav .navbar-nav .nav-item:hover {
      color: fade(#003366, 80%);
      outline: none;
      background-color: transparent; }
    #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
      outline: none;
      color: white;
      background-color: #4B2436; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -webkit-box-shadow: 0 8px 6px -6px rgb(225, 216, 216);
      -moz-box-shadow: 0 8px 6px -6px rgb(225, 216, 216);
      box-shadow: 0 8px 6px -6px rgb(225, 216, 216); 
      letter-spacing: 1px;
      border-bottom: none;
      background: transparent; }
      #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0px solid rgba(0, 0, 0, 0.3);
        background: #fdfafc; }
      #mainNav .nav-link.active {
        outline: none;
        color: white;
        background-color: #4B2436; }
        #mainNav .nav-link.active:hover {
          color: #003366; } }
  #footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */}

  #honeypot {
    display: none; /*makes the field not visible to humans*/
  }  